<% content_for :header_links do %>
  <form method="get" action="/compose">
    <input type="submit" value="Compose">
  </form>
<% end %>

<% if @messages %>
  <% @messages.each do |recipient_id, sender_id, message, file_name| %>
    <% if sender_id == @user_id %>
      <div id="to_user">
        <strong>Sent to: <%= get_name_by(recipient_id) %></strong>
        <p><%= message %></p>
      </div>
    <% else %>
      <a href="/compose?sender_id=<%= sender_id %>">
        <div id="from_user">
          <strong>From: <%= get_name_by(sender_id) %></strong>
          <p><%= message %></p>
        </div>
      </a>
    <% end %>

    <br>
  <% end %>
<% else %>
  <img src="/images/empty_inbox.png" width="400">
<% end %>
