<!doctype html>

<html lang="en-US">
  <head>
    <title>Postbox</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/pb_whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/pb_application.css">
  </head>

  <body>
    <header>
      <div class="actions">
        <%== yield_content :header_links %>
      </div>
    </header>

    <br>

    <% if session[:success] %>
      <div class="flash success">
        <%= session.delete(:success) %>
      </div>
    <% end %>

    <% if session[:error] %>
      <div class="flash error">
        <%= session.delete(:error) %>
      </div>
    <% end %>

    <br>

    <main>
      <%== yield %>
    </main>

    <footer>
      <br>

      <% if logged_in? %>
        <a href="/logout">Log-out (logged in as <%= @user_name %>)</a>
      <% end %>
    </footer>
  </body>
</html>
