<!doctype html>

<html lang="en-US">
  <head>
    <title>Postbox</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/pb_whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/pb_application.css">
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script src="/javascripts/pb_application.js"></script>
    <link rel="shortcut icon" href="/favicon.png">
  </head>

  <body>
    <header>
      <%== yield_content :header_links %>
    </header>

    <% if session[:success] %>
      <div class="flash success">
        <%= session.delete(:success) %>
      </div>
    <% end %>

    <% if session[:error] %>
      <div class="flash error">
        <%= session.delete(:error) %>
      </div>
    <% end %>

    <main>
      <%== yield %>
    </main>

    <footer>
      <% if logged_in? %>
        <form method="get" action="/logout">
          <input id="logout" type="submit" value="Logout <%= @user_name %>">
        </form>
      <% end %>
    </footer>
  </body>
</html>
